# All alisese (both for bash and zsh)

# ls aliases:
alias ll='ls -Ahl'
alias l='ls -A'

alias s='spring '

alias w='which'

# git
alias glg='git log'
alias gf='git fetch'

# deploy
alias d='deploy'
alias dgab='deploy gab'
alias dbs='deploy build-sync'

# sevrers
alias www1.d3='ssh www1.d3'
alias www1.d4='ssh www1.d4'
alias main1.mlan='ssh main1.mlan'
alias main1.ulan='ssh main1.ulan'
alias main1.hlan='ssh main1.hlan'
alias aida1.mlan='ssh aida1.mlan'
alias aida2.mlan='ssh aida2.mlan'
alias aida3.mlan='ssh aida3.mlan'
alias teamcity1.msk='ssh teamcity1.msk'
alias teamcity2.mlan='ssh teamcity2.mlan'
alias dbm1.d3="ssh dbm1.d3"
alias aida1.dd3="ssh aida1.dd3"

# tools
alias ctags_badoo='ctags -R --exclude=.git --languages=PHP,HTML,SQL -f badoo.tags'
alias phpcf='~/Workspace/badoo/web/utils/phpcf'
alias iTMSTransporter='/Applications/Application\ Loader.app/Contents/MacOS/itms/bin/iTMSTransporter'
alias unrealsync='~/Workspace/3rdparty/unrealsync/unrealsync'
