alias intel='echo x86_64; arch -x86_64 zsh; arch'

# neovim
alias vi='nvim'
alias vim='nvim'

# git
alias gco='git checkout'
alias gl='git pull'
alias gst='git status'
alias gp='git push'
alias gd='git diff'
alias gds='git diff --staged'
alias ga='git add'
alias gc='git commit'
alias glg='git log'
alias glgo='git log --oneline'
alias glgp='git log --patch'
alias gf='git fetch'
alias gb='git branch'

# ls
alias ls="ls --color"
alias l="ls -AF"
alias ll="ls -aFl"
alias vi="vim"

# other
alias ..='cd ..'
alias h='fc -l 1'
